# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.env
build/
develop-eggs/
dist/
downloads/
eggs/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Often these are written into a temporary directory by pyinstaller
#  --onefile builds also need to be included otherwise the contents of the
#  temporary directory are not deleted
_MEIPASS*
_MEI*

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
junit*.xml

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
*.orig
*~

# OS or Editor Folders and Files
.DS_Store
.vscode/
*.swp

# Jupyter Notebook
.ipynb_checkpoints

# mypy
.mypy_cache/